@import "https://fonts.googleapis.com/css?family=Press+Start+2P";

:root {
  --player-position: 0;
  --score: 0;
  --lives: 3;
  --playground-width: 50;
  --playground-height: 30;
  --player-width: 6cqw;
  --out-of-screen: -10000px;
  --player-step: 1cqw * 0.9;
  --invaders-color-1: #ff0000;
  --invaders-color-2: #ffff00;
  --invaders-color-3: #00ffff;
  --vertical-steps: 7;
  --round-time: 5s;
  --alien-row: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

form {
  width: 100vw;
  height: 100vh;
  font-family: "Press Start 2P", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1cqw;
  background-color: #5b7a8c;
}

#frame {
  width: calc(var(--playground-width) * 1cqw * 1.05);
  aspect-ratio: var(--playground-width) / var(--playground-height);
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

#playground {
  font-size: 1cqw;
  width: calc(var(--playground-width) * 1cqw);
  aspect-ratio: var(--playground-width) / var(--playground-height);
  background-color: #000;
  color: white;
  position: relative;
  container-type: size;
  overflow: hidden;
  animation: landing linear
    calc(var(--vertical-steps) * 2 * 2 * var(--round-time)) 1 forwards;
}

@keyframes landing {
  0% {
    --alien-row: 0;
  }
  100% {
    --alien-row: 100;
  }
}

#instructions {
  margin-top: 1em;
  color: #33ff04;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & div {
    display: flex;
    align-items: center;
    & span:nth-child(2) {
      margin-left: 1em;
      color: #33ff04;
    }
  }
}

#playerzone {
  position: absolute;
  bottom: 0;
  width: 100cqw;
  left: 0;
  height: 6cqh;
  overflow: hidden;
  container-type: size;
}

#player {
  position: relative;
  left: calc(var(--player-position) * var(--player-step));
  width: var(--player-width);
  aspect-ratio: 1 / 1;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAJCAYAAADpeqZqAAAAIUlEQVQYlWNgwAX+M/zHKYdTAwwOAk3/SYAka4BrHNSaALAfkW80h7cHAAAAAElFTkSuQmCC);
  background-size: contain;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

#shot {
  background-color: red;
  height: 2cqh;
  position: absolute;
  bottom: 105cqh;
  width: 0.5cqw;
  left: calc(
    var(--player-position) * var(--player-step) + var(--player-width) / 2
  );
}

@for $i from 0 to 100 by 10 {
  body:has(#position-$i:active) #shot {
    bottom: 5cqh;
    transition: none;
  }
}

body:has(#position-0:not(:active)):has(#position-10:not(:active)):has(
    #position-20:not(:active)
  ):has(#position-30:not(:active)):has(#position-40:not(:active)):has(
    #position-50:not(:active)
  ):has(#position-60:not(:active)):has(#position-70:not(:active)):has(
    #position-80:not(:active)
  ):has(#position-90:not(:active)):has(#position-100:not(:active))
  #shot {
  transition: bottom 1s linear;
}

#score::after {
  counter-reset: score var(--score);
  content: counter(score);
}

#lives::after {
  counter-reset: lives var(--lives);
  content: counter(lives);
}

@for $i from 0 to 100 by 10 {
  body:has(#position-$i:checked) {
    --player-position: $i;
  }
}

label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

@for $i from 0 to 100 by 10 {
  body:has(#position-$i:checked) label[for="position-$i"] {
    z-index: 1;
  }
}

#controls {
  position: absolute;
  left: var(--out-of-screen);
}

#invaderszone {
  position: absolute;
  height: 60cqh;
  width: 100cqw;
  top: 10cqh;
  left: 0;
  animation: invaders-horizontal steps(20) var(--round-time)
      calc(var(--vertical-steps) * 2) alternate,
    invaders-vertical steps(var(--vertical-steps))
      calc(var(--vertical-steps) * calc(var(--round-time) * 2)) 1 forwards;
}

@keyframes invaders-horizontal {
  0% {
    left: 0;
  }
  100% {
    left: 20cqw;
  }
}

@keyframes invaders-vertical {
  0% {
    top: 10cqh;
  }
  100% {
    top: 30cqw;
  }
}

.invaders-row {
  height: 8cqh;
  display: flex;
  flex-direction: row;
  gap: 8cqw;
  padding-left: 2cqw;
  padding-top: 1cqh;
}

.invaders {
  font-size: 2cqw;
  width: 0.25em;
  height: 0.25em;
  animation: 1s infinite;
}

.invaders-type-1 {
  animation-name: space-invader-1;
  box-shadow: 0 0 0 0.25em var(--invaders-color-1),
    0 0.25em 0 0.25em var(--invaders-color-1),
    -0.625em 0.375em 0 0.125em var(--invaders-color-1),
    0.625em 0.375em 0 0.125em var(--invaders-color-1),
    -0.75em -0.75em 0 0 var(--invaders-color-1),
    0.75em -0.75em 0 0 var(--invaders-color-1),
    -0.5em -0.5em 0 0 var(--invaders-color-1),
    0.5em -0.5em 0 0 var(--invaders-color-1),
    -0.75em -0.25em 0 0 var(--invaders-color-1),
    -0.5em -0.25em 0 0 var(--invaders-color-1),
    0.5em -0.25em 0 0 var(--invaders-color-1),
    0.75em -0.25em 0 0 var(--invaders-color-1),
    -1em 0 0 0 var(--invaders-color-1), -0.75em 0 0 0 var(--invaders-color-1),
    0.75em 0 0 0 var(--invaders-color-1), 1em 0 0 0 var(--invaders-color-1),
    -1em 0.25em 0 0 var(--invaders-color-1),
    1em 0.25em 0 0 var(--invaders-color-1),
    -0.75em 0.75em 0 0 var(--invaders-color-1),
    0.75em 0.75em 0 0 var(--invaders-color-1),
    1.25em 0.25em 0 0 var(--invaders-color-1),
    1.25em 0.5em 0 0 var(--invaders-color-1),
    1.25em 0.75em 0 0 var(--invaders-color-1),
    -1.25em 0.25em 0 0 var(--invaders-color-1),
    -1.25em 0.5em 0 0 var(--invaders-color-1),
    -1.25em 0.75em 0 0 var(--invaders-color-1),
    -0.25em 1em 0 0 var(--invaders-color-1),
    -0.5em 1em 0 0 var(--invaders-color-1),
    0.25em 1em 0 0 var(--invaders-color-1),
    0.5em 1em 0 0 var(--invaders-color-1);
}

.invaders-type-2 {
  animation-name: space-invader-2;
  box-shadow: -0.125em -0.5em 0 0.25em var(--invaders-color-2),
    0.125em -0.5em 0 0.25em var(--invaders-color-2),
    -0.75em -0.375em 0 0.125em var(--invaders-color-2),
    -0.875em -0.375em 0 0.125em var(--invaders-color-2),
    0.75em -0.375em 0 0.125em var(--invaders-color-2),
    0.875em -0.375em 0 0.125em var(--invaders-color-2),
    -1em 0 0 0.25em var(--invaders-color-2),
    1em 0 0 0.25em var(--invaders-color-2),
    -0.5em 0.25em 0 0 var(--invaders-color-2),
    -0.25em 0.25em 0 0 var(--invaders-color-2),
    0 0.25em 0 0 var(--invaders-color-2),
    0.25em 0.25em 0 0 var(--invaders-color-2),
    0.5em 0.25em 0 0 var(--invaders-color-2),
    0.3125em 0.5em 0 0 var(--invaders-color-2),
    0.5em 0.5em 0 0 var(--invaders-color-2),
    0.5em 0.5em 0 0 var(--invaders-color-2),
    -0.3125em 0.5em 0 0 var(--invaders-color-2),
    -0.5em 0.5em 0 0 var(--invaders-color-2),
    -0.5em 0.5em 0 0 var(--invaders-color-2),
    0.0625em 0.75em 0 0 var(--invaders-color-2),
    -0.0625em 0.75em 0 0 var(--invaders-color-2),
    -0.625em 0.75em 0 0 var(--invaders-color-2),
    -0.8125em 0.75em 0 0 var(--invaders-color-2),
    -1.0625em 1em 0 0 var(--invaders-color-2),
    -1.25em 1em 0 0 var(--invaders-color-2),
    0.625em 0.75em 0 0 var(--invaders-color-2),
    0.8125em 0.75em 0 0 var(--invaders-color-2),
    1.0625em 1em 0 0 var(--invaders-color-2),
    1.25em 1em 0 0 var(--invaders-color-2);
}

.invaders-type-3 {
  animation-name: space-invader-3;
  box-shadow: 0 -0.625em 0 0.125em var(--invaders-color-3),
    -0.25em -0.375em 0 0.125em var(--invaders-color-3),
    0.25em -0.375em 0 0.125em var(--invaders-color-3),
    0.625em -0.25em 0 0 var(--invaders-color-3),
    -0.625em -0.25em 0 0 var(--invaders-color-3),
    0 0.125em 0 0.125em var(--invaders-color-3),
    -0.75em 0.125em 0 0.125em var(--invaders-color-3),
    0.75em 0.125em 0 0.125em var(--invaders-color-3),
    0.375em 0.25em 0 0 var(--invaders-color-3),
    -0.375em 0.25em 0 0 var(--invaders-color-3),
    0.125em 0.5em 0 0 var(--invaders-color-3),
    -0.125em 0.5em 0 0 var(--invaders-color-3),
    -0.625em 0.5em 0 0 var(--invaders-color-3),
    -0.875em 0.75em 0 0 var(--invaders-color-3),
    -0.625em 1em 0 0 var(--invaders-color-3),
    -0.625em 1em 0 0 var(--invaders-color-3),
    0.625em 0.5em 0 0 var(--invaders-color-3),
    0.875em 0.75em 0 0 var(--invaders-color-3),
    0.625em 1em 0 0 var(--invaders-color-3),
    0.625em 1em 0 0 var(--invaders-color-3);
}

@keyframes space-invader-1 {
  50% {
    box-shadow: 0 0 0 0.25em var(--invaders-color-1),
      0 0.25em 0 0.25em var(--invaders-color-1),
      -0.625em 0.375em 0 0.125em var(--invaders-color-1),
      0.625em 0.375em 0 0.125em var(--invaders-color-1),
      -0.75em -0.75em 0 0 var(--invaders-color-1),
      0.75em -0.75em 0 0 var(--invaders-color-1),
      -0.5em -0.5em 0 0 var(--invaders-color-1),
      0.5em -0.5em 0 0 var(--invaders-color-1),
      -0.75em -0.25em 0 0 var(--invaders-color-1),
      -0.5em -0.25em 0 0 var(--invaders-color-1),
      0.5em -0.25em 0 0 var(--invaders-color-1),
      0.75em -0.25em 0 0 var(--invaders-color-1),
      -1em 0 0 0 var(--invaders-color-1), -0.75em 0 0 0 var(--invaders-color-1),
      0.75em 0 0 0 var(--invaders-color-1), 1em 0 0 0 var(--invaders-color-1),
      -1em 0.25em 0 0 var(--invaders-color-1),
      1em 0.25em 0 0 var(--invaders-color-1),
      -0.75em 0.75em 0 0 var(--invaders-color-1),
      0.75em 0.75em 0 0 var(--invaders-color-1),
      1.25em 0 0 0 var(--invaders-color-1),
      1.25em -0.25em 0 0 var(--invaders-color-1),
      1.25em -0.5em 0 0 var(--invaders-color-1),
      -1.25em 0 0 0 var(--invaders-color-1),
      -1.25em -0.25em 0 0 var(--invaders-color-1),
      -1.25em -0.5em 0 0 var(--invaders-color-1),
      -1em 1em 0 0 var(--invaders-color-1), -1em 1em 0 0 var(--invaders-color-1),
      1em 1em 0 0 var(--invaders-color-1), 1em 1em 0 0 var(--invaders-color-1);
  }
}

@keyframes space-invader-2 {
  50% {
    box-shadow: -0.125em -0.5em 0 0.25em var(--invaders-color-2),
      0.125em -0.5em 0 0.25em var(--invaders-color-2),
      -0.75em -0.375em 0 0.125em var(--invaders-color-2),
      -0.875em -0.375em 0 0.125em var(--invaders-color-2),
      0.75em -0.375em 0 0.125em var(--invaders-color-2),
      0.875em -0.375em 0 0.125em var(--invaders-color-2),
      -1em 0 0 0.25em var(--invaders-color-2),
      1em 0 0 0.25em var(--invaders-color-2),
      -0.5em 0.25em 0 0 var(--invaders-color-2),
      -0.25em 0.25em 0 0 var(--invaders-color-2),
      0 0.25em 0 0 var(--invaders-color-2),
      0.25em 0.25em 0 0 var(--invaders-color-2),
      0.5em 0.25em 0 0 var(--invaders-color-2),
      0.3125em 0.5em 0 0 var(--invaders-color-2),
      0.5em 0.5em 0 0 var(--invaders-color-2),
      0.625em 0.5em 0 0 var(--invaders-color-2),
      -0.3125em 0.5em 0 0 var(--invaders-color-2),
      -0.5em 0.5em 0 0 var(--invaders-color-2),
      -0.625em 0.5em 0 0 var(--invaders-color-2),
      0.0625em 0.75em 0 0 var(--invaders-color-2),
      -0.0625em 0.75em 0 0 var(--invaders-color-2),
      -0.75em 0.75em 0 0 var(--invaders-color-2),
      -0.9375em 0.75em 0 0 var(--invaders-color-2),
      -0.75em 1em 0 0 var(--invaders-color-2),
      -0.5em 1em 0 0 var(--invaders-color-2),
      0.75em 0.75em 0 0 var(--invaders-color-2),
      0.9375em 0.75em 0 0 var(--invaders-color-2),
      0.75em 1em 0 0 var(--invaders-color-2),
      0.5em 1em 0 0 var(--invaders-color-2);
  }
}

@keyframes space-invader-3 {
  50% {
    box-shadow: 0 -0.625em 0 0.125em var(--invaders-color-3),
      -0.25em -0.375em 0 0.125em var(--invaders-color-3),
      0.25em -0.375em 0 0.125em var(--invaders-color-3),
      0.625em -0.25em 0 0 var(--invaders-color-3),
      -0.625em -0.25em 0 0 var(--invaders-color-3),
      0 0.125em 0 0.125em var(--invaders-color-3),
      -0.75em 0.125em 0 0.125em var(--invaders-color-3),
      0.75em 0.125em 0 0.125em var(--invaders-color-3),
      0.375em 0.25em 0 0 var(--invaders-color-3),
      -0.375em 0.25em 0 0 var(--invaders-color-3),
      0.125em 0.5em 0 0 var(--invaders-color-3),
      -0.125em 0.5em 0 0 var(--invaders-color-3),
      -0.375em 0.5em 0 0 var(--invaders-color-3),
      -0.625em 0.75em 0 0 var(--invaders-color-3),
      -0.875em 1em 0 0 var(--invaders-color-3),
      -0.375em 1em 0 0 var(--invaders-color-3),
      0.375em 0.5em 0 0 var(--invaders-color-3),
      0.625em 0.75em 0 0 var(--invaders-color-3),
      0.875em 1em 0 0 var(--invaders-color-3),
      0.375em 1em 0 0 var(--invaders-color-3);
  }
}

#lost {
  position: absolute;
  width: 100cqw;
  height: 100cqh;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.8);
  color: black;
  display: none;
}

@container style(--alien-row: 100) {
  #lost {
    display: flex;
  }
}
