@import "https://fonts.googleapis.com/css?family=Press+Start+2P";

:root {
  --player-position: 0;
  --score: 0;
  --lives: 3;
  --playground-width: 800;
  --playground-height: 600;
  --player-width: 6cqw;
  --out-of-screen: -10000px;
  --player-step: 1cqw * 0.9;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

form {
  width: 100vw;
  height: 100vh;
  font-family: "Press Start 2P", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: #5b7a8c;
}

#frame {
  width: calc(var(--playground-width) * 1px * 1.05);
  aspect-ratio: var(--playground-width) / var(--playground-height);
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

#playground {
  width: calc(var(--playground-width) * 1px);
  aspect-ratio: var(--playground-width) / var(--playground-height);
  background-color: #000;
  color: white;
  position: relative;
  container-type: size;
}

#instructions {
  margin-top: 1em;
  color: #33ff04;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & div {
    display: flex;
    align-items: center;
    & span:nth-child(2) {
      margin-left: 1em;
      color: #33ff04;
    }
  }
}

#playerzone {
  position: absolute;
  bottom: 0;
  width: 100cqw;
  left: 0;
  height: 6cqh;
  overflow: hidden;
  container-type: size;
}

#player {
  position: relative;
  left: calc(var(--player-position) * var(--player-step));
  width: var(--player-width);
  aspect-ratio: 1 / 1;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAJCAYAAADpeqZqAAAAIUlEQVQYlWNgwAX+M/zHKYdTAwwOAk3/SYAka4BrHNSaALAfkW80h7cHAAAAAElFTkSuQmCC);
  background-size: contain;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

#shot {
  background-color: red;
  height: 2cqh;
  position: absolute;
  bottom: 0;
  left: var(--out-of-screen);
  width: 0.5cqw;
}

@keyframes shot {
  from {
    bottom: 5cqh;
  }
  to {
    bottom: 95cqh;
  }
}

body:has(input[type="radio"]:active) #shot {
  left: calc(
    var(--player-position) * var(--player-step) + var(--player-width) / 2
  );
  animation: shot 1s linear infinite;
}

#score::after {
  counter-reset: score var(--score);
  content: counter(score);
}

#lives::after {
  counter-reset: lives var(--lives);
  content: counter(lives);
}

@for $i from 0 to 100 by 10 {
  body:has(#position-$i:checked) {
    --player-position: $i;
  }
}

label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

@for $i from 0 to 100 by 10 {
  body:has(#position-$i:checked) label[for="position-$i"] {
    z-index: 1;
  }
}

#controls {
  position: absolute;
  left: var(--out-of-screen);
}
